# API Keys
GEMINI_API_KEY=
GOOGLE_ADS_API_KEY=

# Public variables
NEXT_PUBLIC_WHATSAPP_NUMBER=525552520615
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=AW-11004313271/NfInCOvXyIkYEPfNq_4p
NEXT_PUBLIC_SITE_URL=https://acupunturacdmx.com
