# API Keys
GEMINI_API_KEY=
GOOGLE_ADS_API_KEY=

# Public variables
NEXT_PUBLIC_WHATSAPP_NUMBER=5215500000000
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_ID=AW-985455568/4Y21CM2X24YcENC389UD
NEXT_PUBLIC_GA_ID=G-VBE0CWFMLV
NEXT_PUBLIC_SITE_URL=https://acupunturacdmx.com
